# Ignore virtual environment
venv/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore environment variables or config
.env

# Ignore IDE files
.vscode/
.idea/

config/config.conf

